__pycache__/
*.pyc
venv/
env/
recordings/
voice_models/trained_voice_model.pt
assets/shape_predictor_68_face_landmarks.dat*

# Keep folders with .gitkeep
assets/*
!assets/.gitkeep
themes/*
!themes/.gitkeep
voice_models/*
!voice_models/.gitkeep
recordings/*
!recordings/.gitkeep
presets/*
!presets/.gitkeep
config/*
!config/.gitkeep
docs/*
!docs/.gitkeep

.DS_Store
Thumbs.db
